<div class="container">
  <h1>Editar Película</h1>

  <%= form_with model: @movie, local: true do |form| %>
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :genre %>
      <%= form.text_field :genre, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :release_year %>
      <%= form.number_field :release_year, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.submit "Guardar Cambios", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to 'Volver al listado', movies_path, class: "btn btn-secondary" %>
</div>
